<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un Livre</title>
</head>
<body>

<h1>Ajouter un Livre</h1>

<!-- Formulaire d'ajout de livre -->
<form action="{{ url_for('ajouter_livre') }}" method="POST">
    <label for="titre">Titre :</label>
    <input type="text" id="titre" name="titre" required><br><br>

    <label for="auteur">Auteur :</label>
    <input type="text" id="auteur" name="auteur" required><br><br>

    <label for="genre">Genre :</label>
    <input type="text" id="genre" name="genre" required><br><br>

    <label for="annee">Année de Publication :</label>
    <input type="number" id="annee" name="annee" required><br><br>

    <label for="isbn">ISBN :</label>
    <input type="text" id="isbn" name="isbn" required><br><br>

    <button type="submit">Ajouter le Livre</button>
</form>

<a href="{{ url_for('accueil') }}" class="back-link">Retour à l'accueil</a>

</body>
</html>
