<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sélectionner un Livre</title>
</head>
<body>
    <h1>Sélectionnez un livre à emprunter</h1>

    <form method="POST">
        <label for="id_livre">Choisissez un livre:</label>
        <select name="id_livre" id="id_livre">
            {% for livre in livres %}
                <option value="{{ livre.id }}">{{ livre.titre }} par {{ livre.auteur_nom }} {{ livre.auteur_prenom }}</option>
            {% endfor %}
        </select>
        <button type="submit">Emprunter</button>
    </form>

    <a href="{{ url_for('accueil') }}">Retour à l'accueil</a>

</body>
</html>
